@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* font-family: 'Roboto'; */
  /* font-family: 'Open Sans'; */
}

.ant-btn-primary {
  background-color: #3766ad;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353535; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #676767; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #959595; 
}

.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-left::after
{
   border-top: 1px solid rgb(181, 181, 181);
}